@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.header {
    color: black;
    text-align: center;
    text-align: center;
    margin-top: 8%;
    font-family: 'Press Start 2P', cursive;
    font-size: 62px;
    display: inline block;
}

body {
    background-image: url(/images/DS_background.jpeg);
    background-repeat: no-repeat;
    background-position: top;
}

.link {
    margin-left: 47%;
    display: inline block;
}

a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background: white; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    transition: 0.1s linear; /* Время изменения */
    border: black;
    border-style:solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
}

a:hover {
    color: #fff; /* Цвет текста */
    background: black; /* Цвет фона */
}

.text {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
    width: 900px;
    display: inline block;
}

h1{
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-weight: 100;
}

h2{
    font-family: 'Roboto', sans-serif;

    color: black;
    font-weight: 100;
}

ul{
    list-style: square;
}

